.container-form{
    padding-top: 36px;
}

@media(max-width:375px){
    .container-form{
        position: absolute;
        top: 12.4%;
        background-color: var(--alabaster);
        border-radius: 10px;
        padding: 16px 20px;
        margin: 0 5%;
    }
}