.container-plans{
    display: flex;
    justify-content: space-between;
    column-gap: 18px;
    padding: 36px 0;
    margin-bottom: 24px;
}

.container-slider{
    background-color: var(--magnolia);
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
    padding: 14px;
    border-radius: 10px;
} 

.container-circle{
    width: 38px;
    height: 18px;
    background-color: var(--marine-blue);
    border: 1px solid var(--marine-blue);
    border-radius: 10px;
    padding: 2px;
}

.circle{
    width: 12px;
    height: 12px;
    background-color: var(--alabaster);
    border-radius: 50%;
    position: relative;
    transition: left 0.4s ease;
}

.circle:is(:hover, :focus){
    cursor: pointer;
}

.circle.monthly{ 
    left: 0; 
}

.circle.yearly{ 
    left: 64%; 
}

.container-slider__plan{
    font-size: 14px;
    font-weight: 500;
    color: var(--cool-gray);
}

.container-slider__plan.selected{
    color: var(--marine-blue);
}

@media(max-width:800px){
    .container-plans{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-top: 20px;
    }
}